<section class="following container d-flex flex-column justify-content-center align-content-center">
    <div class="profile_that_follows container d-flex flex-column justify-content-center text-center">
        <a href=<%= user_show_url(user_id: @user.id, current_id: current_user.id) %>>
            <img src=<%=@user.avatar%> alt="" class='img-fluid rounded-circle'>
        </a>
        <span style='font-size:1.8rem;font-weight:600'><%=@user.email%></span>
        <span style='font-size:1.5rem;font-weight:600'>Follows:</span>
    </div>
    <% for user in following(@user.id)%>
        
        <div class=" d-flex container followers_card justify-content-center align-content-center text-center mb-5">
                <div class="card ">
                    
                    <div class='photo_top_group_card'>
                        <img class="card-img-top img-fluid profile_back" src=<%=user.background%> >
                    </div>
                    
                    <div class="card-block text-center center_card_groups_index">
                        
                        <img class= 'profile rounded-circle img-fluid' src=<%=user.avatar%> alt="">
                        
                        <h4 class="card-title mt-3 group_title_scroll">
                        
                            <a href=<%= user_show_url(user_id: user.id, current_id: current_user.id) %>>
                                <%= User.find_by_id(user.id).email.split('@').first+'@' %>
                            </a>
                           
                        </h4>
                        <div class="meta meta_card_relative">
                            <h6 class=' profile_description text-left'><%=user.description%></h6>
                        </div>
                        
                        <div class="card-text card-text_groups d-flex justify-content-between">
                            <div class='d-flex' >
                                <p class = 'profile_followers' style='margin-right:1rem'>
                                    <span style = 'font-weight:bold'>
                                        <%= user.listenings.count %>
                                    </span>
                                    <a href=<%= show_following_url(user_id: user.id) %>>
                                        Following
                                    </a>
                                </p>
                                
                                <p class = 'profile_followers'>
                                    <span style = 'font-weight:bold'>
                                        <%= followers_count(user.id) %>
                                    </span>  <a href=<%= show_followers_url(user_id: current_user.id) %>> Followers</a>
                                </p>
                            </div>
                            <div sytle='position:relative'>
                                <%=new_post_link(user)%>
                            </div>
                        </div>
                            
                    </div>

                </div>
            </div>



        
        
    <% end %>
    
</section>