<section class="following container d-flex flex-column justify-content-center align-content-center">
    
    <% for user in @followers%>
        <%user = User.find_by_id(user.other_id)%>
        <div class=" d-flex container justify-content-center align-content-center text-center mb-5">
                <div class="card ">
                    
                    <div class='photo_top_group_card'>
                        <img class="card-img-top img-fluid profile_back" src=<%=user.background%> >
                    </div>
                    
                    <div class="card-block text-center center_card_groups_index">
                        
                        <img class= 'profile rounded-circle img-fluid' src=<%=user.avatar%> alt="">
                        
                        <h4 class="card-title mt-3 group_title_scroll"><%=user.email.split('@').first+'@'%></h4>
                        <div class="meta meta_card_relative">
                            <h6 class='meta_card_group_index profile_description text-left'><%=user.description%></h6>
                            
                        </div>
                        <div class="card-text card-text_groups d-flex justify-content-between">
                            <div class='d-flex' >
                                <p class = 'profile_followers' style='margin-right:1rem'>
                                    <span style = 'font-weight:bold'>
                                        <%= user.listenings.count %>
                                    </span>
                                    <a href=<%= show_following_url(user_id: user.id) %>>
                                        Following
                                    </a>
                                </p>
                                
                                <p class = 'profile_followers'>
                                    <span style = 'font-weight:bold'>
                                        <%= user.listeners.count %>
                                    </span>  <a href=<%= show_followers_url(user_id: current_user.id) %>> Followers</a>
                                </p>
                            </div>
                            <div sytle='position:relative'>
                                <% if current_user.listenings.where(other_id: user.id).exists? %>
                                
                                    <img  id = 'new_post_icon' class='img-fluid' src="https://i.imgur.com/f2EwRe2.png" alt="Follow">
                                <% elsif current_user.id == user.id%>
                                    <a href=<%= new_post_url %>>
                                        <img  id = 'new_post_icon' class='img-fluid' src="https://i.imgur.com/hAWVdKd.png" alt="new post">
                                    </a>
                                <% else %>
                                    <a href=<%= new_listening_url(other_id: user.id, current: current_user.id) %>>
                                        <img  id = 'new_post_icon' class='img-fluid' src="https://i.imgur.com/FSLQPBS.png" alt="Follow">
                                    </a>
                                <% end %>
                            </div>
                        </div>
                            
                    </div>

                </div>
            </div>



        
        
    <% end %>
    
</section>
