<div class="d-flex flex-column gral_post">
    <div class="col d-flex justify-content-center align-items-center pb-5">
        <div id='form_posts'>
            <div class="container d-flex justify-content-center create_group sign_form">
                <%= form_for(@post, url: post_new_url(@post)) do |f| %>

                    
                    <%= f.hidden_field :counter, value: 0 %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <div class="field">
                        <%= f.label :new_post %><br />
                        <%= f.text_field :content, autofocus: true, :size => 50 %>
                    </div>
                    
                    <%= f.submit 'Create', class: 'btn btn-secondary' %>
                <% end %>
            </div>
        </div>
    </div>
    <% @posts.sort_by(&:created_at).reverse.each do |post| %>
        <div class="post_general">
            <h5>
                <%= post.content %>
            </h5>
            <p>
                <%= User.find_by_id(post.user_id).email %>
            </p>
            <p>
                <%= time_ago_in_words(post.created_at) + ' ago' %> 
            </p>
        </div>
    <%end%>
</div>
