<div class="d-flex flex-column gral_post">
    <div class=" d-flex justify-content-start">
        <span id='my_tweets_title'>
        My gossips
        </span> 
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <div id='form_posts'>
            <div class="container d-flex justify-content-center create_group sign_form">
                <%= form_for(@post, url: post_new_url(@post)) do |f| %>
                    <h3 class='text-center'>New Post</h3>
                    <div class="field text-center">
                        <%= f.label :avatar_url %><br />
                        <%= f.text_field :avatar, autofocus: true %>
                    </div>
                    
                    <div class="field text-center" >
                        <%= f.label :message %><br />
                        <%= f.text_field :content, autofocus: true, :size => 50 %>
                    </div>

                    <%= f.hidden_field :counter, value: 0 %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    
                    <%= f.submit 'Create', class: 'btn btn-secondary' %>

                <% end %>
            </div>
        </div>
    </div>
    <% current_user.posts.sort_by(&:created_at).reverse.each do |post| %>
        <div class="cards_user container d-flex flex-column justify-content-center cards_post">
            <div class="card align-content-center justify-content-center"  style="width: 40rem;position: relative;left:16rem!important;">
                <img class="card-img-top photo_card" src=<%=post.avatar%> alt="Post Image">
                <div class="card-body " id='show_cards_user'>
                    
                    <p class="card-text"><%= post.content %></p>
                    <p>
                        <%= time_ago_in_words(post.created_at) + ' ago' %> 
                    </p>
                    <div class="likes_counter text-center d-flex justify-content-around">
                        
                        <a href=<%=likes_update_url(post_id: post.id, vote: 1)%>>
                            <img src="https://i.imgur.com/eoLBqit.png" alt="" id='likes_up'>
                        </a>
                        
                        <span class="counter">
                            <%=post.counter%>
                        </span>
                        <a href=<%=likes_update_url(post_id: post.id, vote: -1)%>>
                            <img src="https://i.imgur.com/3AJj63r.png" alt="" id='likes_down'>
                        </a>
                        
                        
                    </div>
                </div>
            </div>
        
        </div>        

    <%end%>
</div>
