
<section class='container new_post d-flex flex-column justify-content-center align-items-center'>

  <div class="form_init d-flex flex-column justify-content-start align-items-center ">
    <h2 style='padding:0.5rem'>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field" style='padding:0.5rem'>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field" style='padding:0.5rem'>
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field " style='padding:0.5rem'>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions "style='heigth:250px'>
            <%= f.submit "Log in"%>
          </div>
        <% end %>
      <div class="foot_init">
        
      </div>
  </div>
  <%= link_to "Sign up",new_user_registration_url %>
  
</section>