<section style = 'margin-top:8rem'>
    <div class="col d-flex justify-content-center align-items-center">
        <div id='form_posts'>
            <div class="container d-flex justify-content-center sign_form">
                <%= form_for(@post, url: post_new_url(@post)) do |f| %>
                    <div class="field text-center">
                        
                        <%= f.text_field :avatar,  placeholder: "PhotoUrl", autofocus: true, :size => 97  %>
                    </div>
                    <br>
                    <div class="field text-center" >
                        <%= f.text_field :content,  placeholder: "Message", autofocus: true, :size => 97 %>
                    </div>

                    <%= f.hidden_field :counter, value: 0 %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <br>
                    <%= submit_tag("NewPost", class: 'btn btn-secondary', style: "background-color:#52A6E6") %>

                <% end %>
            </div>
        </div>
    </div>
</section>