

<div class="cards_user container d-flex flex-column justify-content-center cards_@post">
    
    <div class="card align-content-center justify-content-center"  style="width: 40rem;position: relative;left:16rem!important;">
        <img class="card-img-top photo_card" src=<%=@post.avatar%> alt="@post Image">
        <div class="card-body " id='show_cards_user'>
            
            <p class="card-text"><%= @post.content %></p>
            <p>
                <%= time_ago_in_words(@post.created_at) + ' ago' %> 
            </p>
            <div class="likes_counter text-center d-flex justify-content-around">
                
                <% if current_user.likes.find_by_post_id(params[:post_id]) == nil%>
                    <a href=<%=likes_update_url(post_id: @post.id, vote: -1)%>>
                        <img src="https://i.imgur.com/eoLBqit.png" alt="" id='likes_up'>
                    </a>
                    
                    <span class="counter">
                        <%=@post.counter%>
                    </span>
                    <a href=<%=likes_update_url(post_id: @post.id, vote: 1)%>>
                        <img src="https://i.imgur.com/3AJj63r.png" alt="" id='likes_down'>
                    </a>
                <% else %>
                
                <% end %>

                <a href=<%=likes_update_url(post_id: @post.id, vote: -1)%>>
                    <img src="https://i.imgur.com/eoLBqit.png" alt="" id='likes_up'>
                </a>
                
                <span class="counter">
                    <%=@post.counter%>
                </span>
                <a href=<%=likes_update_url(post_id: @post.id, vote: 1)%>>
                    <img src="https://i.imgur.com/3AJj63r.png" alt="" id='likes_down'>
                </a>
                
                
            </div>
        </div>
    </div>        
      
</div>