

<div class="cards_user container d-flex flex-column justify-content-center" style='margin-top:5rem;'>
    
    <div class="card align-content-center justify-content-center"  style="width: 35rem;position: relative;left:16rem!important;">
        <img class="card-img-top photo_card img-fluid" src=<%=@post.avatar%> alt="@post Image">
        <div class="card-body " id='show_cards_user1'>
            <div class="post_creator d-flex justify-content-between">
                <img src=<%= User.find_by_id(@post.user_id).avatar  %> alt="" class='img-fluid rounded-circle' style='width:40px;height:40px;box-shadow: 2px 10px 11px -8px rgba(0,0,0,0.75);'>
                <p class = 'text-center user_email' style='color:#251429; font-weight:800;box-shadow: 2px 10px 11px -8px rgba(0,0,0,0.75);'>
                    <%= User.find_by_id(@post.user_id).email %>
                </p>
                <a href=""><img src="https://i.imgur.com/AsE7LHx.png" alt="" style='height: 45px'></a>
            </div>
            <p class="card-text post_content">
                <%= @post.content %>
            </p>
            <p style='padding-bottom:2rem;'>
                <%= time_ago_in_words(@post.created_at) + ' ago' %> 
            </p>

            <div class="likes_counter1 text-center d-flex justify-content-around">
                <% if current_user.likes.find_by_post_id(@post.id) == nil %>

                    <a href=<%=likes_update_url(post_id: @post.id, vote: -1)%>>
                        <img src="https://i.imgur.com/eoLBqit.png" alt="" id='likes_down'>
                    </a>
                    
                    <span class="counter">
                        <%=@post.counter%>
                    </span>
                    <a href=<%=likes_update_url(post_id: @post.id, vote: 1)%>>
                        <img src="https://i.imgur.com/3AJj63r.png" alt="" id='likes_up'>
                    </a>
                
                <%else%>
                    <% if current_user.likes.find_by_post_id(@post.id).result == 1 %>
                        <a href=<%=likes_update_url(post_id: @post.id, vote: -1)%>>
                            <img src="https://i.imgur.com/eoLBqit.png" alt="" id='likes_down'>
                        </a>
                        <span class="counter">
                            <%=@post.counter%>
                        </span>

                        
                        <img src="https://i.imgur.com/QSyr92p.png" alt="" id='likes_up'>
                        

                    <%else%>
                        
                        <img src="https://i.imgur.com/Y51wRgl.png" alt="" id='likes_down'>
                        
                        <span class="counter">
                            <%=@post.counter%>
                        </span>

                        <a href=<%=likes_update_url(post_id: @post.id, vote: 1)%>>
                            <img src="https://i.imgur.com/3AJj63r.png" alt="" id='likes_up'>
                        </a>

                    <%end%>

                <%end%>
                
            </div>

        </div>
    </div>        
      
</div>