

<div class="cards_user container d-flex flex-column justify-content-center cards_post" style = 'margin-top:8rem;'>
            <div class="card align-content-center justify-content-center"  style="width: 40rem;position: relative;left:16rem!important;">
                <img class="card-img-top photo_card" src=<%=@post.avatar%> alt="Post Image">
                <div class="card-body " id='show_cards_user'>
                    <p class = 'text-center' style='background:rgba(182, 177, 177,.5)'>
                        <%= User.find_by_id(@post.user_id).email %>
                    </p>
                    <p class="card-text">
                        <%= @post.content %>                        
                    </p>
                    <p>
                        <%= time_ago_in_words(@post.created_at) + ' ago' %> 
                    </p>
                    <div class="likes_counter text-center d-flex justify-content-around">
                        <% if current_user.likes.find_by_post_id(@post.id) == nil %>

                            <a href=<%=likes_update_url(post_id: @post.id, vote: -1)%>>
                                <img src="https://i.imgur.com/eoLBqit.png" alt="" id='likes_down'>
                            </a>
                            
                            <span class="counter">
                                <%=@post.counter%>
                            </span>
                            <a href=<%=likes_update_url(post_id: @post.id, vote: 1)%>>
                                <img src="https://i.imgur.com/3AJj63r.png" alt="" id='likes_up'>
                            </a>
                        
                        <%else%>
                            <% if current_user.likes.find_by_post_id(@post.id).result == 1 %>
                                <a href=<%=likes_update_url(post_id: @post.id, vote: -1)%>>
                                    <img src="https://i.imgur.com/eoLBqit.png" alt="" id='likes_down'>
                                </a>
                                <span class="counter">
                                    <%=@post.counter%>
                                </span>

                                
                                <img src="https://i.imgur.com/QSyr92p.png" alt="" id='likes_up'>
                                

                            <%else%>
                                
                                <img src="https://i.imgur.com/Y51wRgl.png" alt="" id='likes_down'>
                                
                                <span class="counter">
                                    <%=@post.counter%>
                                </span>

                                <a href=<%=likes_update_url(post_id: @post.id, vote: 1)%>>
                                    <img src="https://i.imgur.com/3AJj63r.png" alt="" id='likes_up'>
                                </a>

                            <%end%>

                        <%end%>
                        
                    </div>
                </div>
            </div>
        
        </div>