<div class="sidebar d-flex flex-column" >
    <h4 class='user_email'> <%= current_user.email%> </h4>
    
    <ul class='left_list float-left'> 
        <li><a href="#"><%= link_to 'all gossips', post_index_url, method: :get%></a></li>
        <li><a href=<%=root_url%>><%= link_to 'my gossips', root_url, method: :get%></a></li>
        <li><a href="#"><%= link_to 'listeners', ''%></a></li>
        <li><a href="#"><%= link_to 'listening', ''%></a></li>

        <li><a href="#"><%= link_to 'sign out', destroy_user_session_path, method: :delete%></a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">ipsum</a></li>
    </ul>
</div>