<!DOCTYPE html>
<html>
  <head>
    <title>PublicSquare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      <div class="wrapper">
          <% if current_user %>
            <section class="float nav_adjust">
              <%= render 'layouts/leftnav'%>
              <%= render 'layouts/navbar' %>
              
            </section>
            
            <main class="content">
              <%= render 'layouts/rightbar' %>
              
              
            </main>

          <% end %>
          
              <%= yield %>

        </div>
      





    <%= yield %>
  </body>
  
</html>
